@model Employee
@{
    var currentUser = new User();
    if(ViewBag.Users != null)
    {
        foreach(var user in ViewBag.Users)
        {
            if(user.Id == Model.UserId)
            {
                currentUser = user;
            }
        }
    }
}
<h1>Do you wish to remove @currentUser.fName @currentUser.lName from employees?</h1>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="UserId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="EmployeeManager">Back to employees</a>
</form>
