@{
    ViewData["Title"] = "Home Page";
}

<html>
    <head>
    <link rel="stylesheet" href="~/AirportTracker.styles.css" asp-append-version="true" />
    </head>

    <body>
    <img src="@Url.Content("~/images/homepage.jpg")" alt="Image 1" class="backgroundImage" />
    <h2 style="margin-left:10px; color:white; background-color: grey; padding: 10px; border-radius: 4px; display: inline-block;">
        Welcome @User.Identity.Name
    </h2>
    </body>
</html>
